{%extends 'layout.html'%} {%block content%}
<main>
	<p>
		hi there, welcome! "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
		dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
		cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
	</p>
	<p>
		This story tells how the delicious fruit the watermelon came to Vietnam many centuries ago. The hero of the legend is Prince
		Mai An Tiem who was adopted by the king of Vietnam. His brother grew envious of him, and started to plot against him. If
		you want to know how the watermelons come into it all - well you had better listen to the story. Today watermelons are
		associated with the New Year in Vietnam. - called the Tet festival. People eat roast watermelon seeds at the time of the
		festival.
	</p>
</main>
{%endblock%}